# Dependencies
/node_modules
/.pnpm-store

# Next.js build and static output
/.next/
/out/
/build
/dist

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log

# Environment variables
.env
.env*.local

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Deployment platform caches
.vercel
.wrangler/
